
<div class="centerElements">
	<h1>All Pills</h1>
</div>

<%= search_form_for @q do |f|%>

	<%= f.label :name_cont, "Pill Name" %>
  	<%= f.search_field :name_cont %>

  	<%= f.label :hormone_cont, "Hormone Name" %>
  	<%= f.search_field :hormone_cont %>
<div class="actions"><%= f.submit "Search", :class => "button green" %></div>
<%end %>




<div class="allPills">
	<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
		<% @pills.each do |pill| %>
			<li class="pillCard">
				<%= link_to pill.name, pill_path(pill), :class => "pillName" %>
				<div class="pillHormone hidden"><%= pill.hormone %></div>
			</li>
		<%end%>
	</ul>
</div>

