
<div class="centerElements">
	<h1>All Pills</h1>
</div>

<%= search_form_for @q do |f|%>

	<div class="row">
		<div class="large-4 columns">
			<%= f.label :name_cont, "Pill Name" %>
			<%= f.search_field :name_cont %>
		</div>
		<div class="large-4 columns">
			<%= f.label :hormone_cont, "Hormone Name" %>
			<%= f.search_field :hormone_cont %>
		</div>
		<div class="large-4 columns" style="padding-top: 0.7em">
			<%= f.submit "Search", :class => "button green" %>
		</div>
	</div>
<%end %>




<div class="allPills">
	<ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
		<% @pills.each do |pill| %>
			<li class="pillCard">
				<%= link_to pill.name, pill_path(pill), :class => "pillName" %>
				<div class="pillHormone hidden"><%= pill.hormone %></div>
			</li>
		<%end%>
	</ul>
</div>

