<div class="row">
  	<div class="centerElements">
  		<%= @pill.name %>
  	</div>

	<div class="centerElements">
  		<%= @pill.hormone %>
	</div>
</div>


<% if @reviews.length > 0%>
	</table><table>
		<tr>
			<th>Title</th>
			<th>Text</th>
			<th>User</th>
			<th> Pill Id </th>
		</tr>
		<%@reviews.each  do |review|%>
			<tr>
				<td><%= review.title %></td>
				<td><%= review.text %></td>
				<td> <%= review.user_id %></td>
				<td> <%= review.pill_id %></td>

			</tr>
		<%end %>
<%end %>



<!-- 
<% if !current_user %>
	You must sign in or sign up to write a review
	<%= link_to "Sign in", new_user_session_path, :method => :get %>
	<%= link_to "Sign up", new_user_registration_path, :method => :get %>
<%else %>
	<%= link_to 'Add a new review', new_pill_review_path(@pill, @review)%>
<%end %> -->
