<div class="row">
	<div class="row">
	  	<div class="centerElements">
	  		<h1 class="headline"><%= @pill.name %></h1>
	  	</div>

		<div class="centerElements">
	  		<%= @pill.hormone %>
		</div>
	</div>


<% if @reviews.length > 0 %>
  <div class="reviews">
    <table>
      <thead class="tableHeadline">
        <tr >
          <th width="150">Title</th>
          <th width ="350">Review</th>
        </tr>
      </thead>
      <tbody>
        <%@reviews.each do |review| %>
          <tr>
            <td><%= review.title %></td>
            <td><%= review.text %></td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
<%end %>


<div class="centerElements">
	<% if current_user %>
		<%= link_to 'Add a new review', new_pill_review_path(@pill, @review), :class => "button green" %>
	<%else %>
		You must sign in or sign up to write a review
		<%= link_to "Sign in", new_user_session_path, :method => :get %>
		<%= link_to "Sign up", new_user_registration_path, :method => :get %>
	<%end %>
</div>
