
<%= form_for :review, url: pill_reviews_path do |f| %> 
<% if @review.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@review.errors.count, "error") %> prohibited
      this review from being saved:</h2>
    <ul>
    <% @review.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

<div class="row">
  <div class="small-8">
    <div class="row">
      <div class="small-3 columns">
        <%= f.label :title, :class => "right inline" %>
      </div>
      <div class="small-9 columns">
        <%= f.text_field :title, :id => "right-label" %>
      </div>
    </div>
  </div>
</div>
  
<div class="row">
  <div class="small-8">
    <div class="row">
      <div class="small-3 columns">
        <%= f.label :text, :class=>"right inline" %>
      </div>
      <div class="small-9 columns">
        <%= f.text_area :text, :id => "right-label"%>
      </div>
    </div>
  </div>
</div>

<div>
<%= f.submit "Save Review", :class=>"button green"%>
</div>
<% end %>
